h2 {
  color: #ffffff;
  font-size: 22px;
  margin-top: 0;
}

span{
  color: orange;
}
.container{
  padding-left: 300px;
  padding-right: 300px;
}

.button {
  background: orange;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  width: 120px;
  box-sizing: content-box;
}

.button-cancel {
  background: none;
  border: 0;
  color: orange;
  text-decoration: underline;
  width: 120px;
}

.card {
  background: #44464c;
  margin-bottom: 30px;
  min-height: 160px;
}

.card.library {
  background: #24262c;
}

.card:last-child {
  margin-bottom: 0;
}

.date, .price {
  color: #ffffff;
}

.author, .description {
  color: #ffffff;
}

.panel-body {
  display: table;
  padding: 0;
}

.photo {
  float: left;
  height: 200px;
}

.price {
  margin: 0;
  font-size: 18px;
  text-align: center;
  width: 120px;
}

.price-total {
  background:  orange;
  float: right;
  margin: 0px 0;
  padding: 20px 50px;
}

.price-total h3, .price-total p {
  display: inline-block;
  margin: 0;
}

.price-total p {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.price-total h3 {
  font-size: 18px;
  margin-right: 60px;
}

.book-info {
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
  background-color: #541212;
}

.book-info h3 {
  margin: 0 0;
  color: orange;
}

.book-info td:last-child {
  padding: 0 20px;
}

.book-info, .book-info tbody, .book-info tr, .book-info td {
  width: 100%;
}

.book-info tbody {
  display: inline-block;
}

.status {
  color: orange;
  text-align: center;
}

.cash {
  border: none;
  display: inline-block;
  height: 30px;
  margin: 0px;
  font-size: 20px;
  padding-left: 10px;
  width: 150px;
}

/* ----- State ----- */

.unavailble {
  background: #505050;
}

.unavailble .button {
  background: #707070;
  color: #aeaeae;
}

img{
  width: 200px;
  height: 200px;
}

.detail-link{
  color: #ffffff;
  background-color: orange;
  text-decoration: none;
  margin-top: 15px;
  padding: 2px 6px 3px;
  border-radius: 3px;
  width: 120px;
  display: inline-block;
  text-align: center;
  font: 11px system-ui;
}

